<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>评论</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css">
	<link href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="css/star-rating.css">
	<link rel="stylesheet" href="css/style.css">	
	<!--[if IE]>
		<script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body ng-app="myApp">
	<div class="body-disscuss" ng-controller="disscuss">
		<div class="intro">
			<h4>菜品介绍：</h4>
			<p ng-bind="food.introduce"></p>
		</div>
		<p class="p">来，说说你的感想<span>(评价不评默认5星哦)</span></p>
		<div><textarea class="f-text" ng-model="text"></textarea></div>
		<div class="star">
			<div class="container star-input">
				<input id="star" value="0" type="number" class="rating" min=0 max=5 step=0.5 data-size="sm">
			</div>
			<div class="button-disscuss">
				<button class="btn btn-success btn-lg" ng-click="push()">发送</button>
			</div>
		</div>
		<h3><span>大家在说</span></h3>
		<ul >
			<li class="say" ng-repeat = 'sayer in sayers|orderBy:order:1'>
				<span style="float:left"><img ng-src= {{sayer.ybphoto}} alt="" width="100px"></span>
				<div class="msg">
					<p><span ng-bind="sayer.username"></span>{{sayer.detail}}</p>
					<p class="time" ng-bind="sayer.time"></p>
				</div>		
			</li>
		</ul>
		
	</div>
	<script src="js/jquery.min.js"></script>
	<script src = 'http://code.angularjs.org/1.2.9/angular.min.js'></script>
	<script src="js/starrating.js"></script>
	<script src="js/app.js"></script>
</body>
</html>